* {
    padding: 0;
    margin: 0;
    transition: all .2s;
}

.LeerlingenContainer {
    width: 80vw;
    height: 100vh;
    overflow-y: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Leerling {
    overflow: hidden;
    /*margin: 5px;*/
    display: inline-block;
    /**
     * @padding: 5px;
     * @kolommen: 4;
     * (breedte / @kolommen) - (2 * @padding)
     */
    word-wrap: break-word;
    width: calc((100% / 4.9) - (2 * 5px));
    height: 80px;
}

.leerlingNummer {
    font-size: .9em;
    color: rgb(190, 190, 190);
}

.naam-leerling {
    font-family: Helvetica;
    color: #444;
}

.opmerking {
    color: red;
    font-style: italic;
}

.email {
    color: rgb(150, 150, 150);
    font-size: 0.8em;
}

.aandacht {
    color: rgb(20, 180, 70);
    font-weight: bold;
    font-size: .9em;
}

.selected {
    background-color: rgba(30, 170, 30, 0.5);
}

.bubble {
    font-weight: bold;
    position: relative;
    top: 5px;
    right: 15px;
    padding: 3px;
    border-radius: 50%;
}

body {
    margin: 8px;
    font-family: Helvetica;
    font-size: .98em;
}

.saveButton {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    background-color: red;
}

.groepDraggable {
    width: 24px;
    height: 24px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

/*bubble effect on the draggable groups*/
.groepDraggable:before {
    position: absolute;
    margin-left: -7px;
    margin-top: -2px;
    content: " ";
    transition: .2s all cubic-bezier(.17,.67,.42,1.51);
    width: 0;
    height: 0;
}

.groepDraggable:hover:before {
    background-color: rgba(20, 20, 20, .5);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
}

#leerlingen {
    position: absolute;
    width: 85vw;
    height: 100vh;
}

#filters {
    position: absolute;
    right: 0;
    width: 12vw;
    height: 60vh;
}

#save {
    position: fixed;
    right: 0;
    width: 12vw;
    height: 20px;
    bottom: 100px;
}
